.col img {
    height: 25vh;
    width: 100%;
    object-fit: cover;
}
@media (max-width:768px) {
    .col img {
        height: 30vh;
    }
}
* {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    #map {
        height: 70vh;
        width: 100%;
    } 
}